*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tudo{
    overflow:hidden;
}

.conteudo{
    width: calc(100%*3);
    height: 300px;
    display: flex;
    transition: 1s ;
}

.slide{
    width: 100vw;
    height: inherit;
}

.interacoes{
    width: 300vw;
    height: 300px;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.butoes{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17pt;
    width: 30px;
    height: 50%;
    background-color: rgba(36, 228, 36,.8);
    color: white;
    cursor: pointer;
}

#imgSlide1{
    background: url(paisagem1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#imgSlide2{
    background: url(paisagem2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#imgSlide3{
    background: url(paisagem3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}